.background{
    min-height:100%;
    /* background:linear-gradient(0deg,rgba(9, 10, 10, 0.548),rgba(9, 10, 10, 0.548)),url('/images/batman.jpg'); */
    background-color: #191919;
    background-size:cover;
    background-repeat: repeat;
}

body{
    color: white;
}

.row{
    margin: 15px;
}

td img{
    width: 26px;
    margin-left: 4px;
    position: relative;
    bottom: 3px;
}

.c10{
    width: 10%;
}

.c15{
    width: 15%;
}

.c20{
    width: 20%;
}

.c25{
    width: 25%;
}

.c35{
    width: 35%;
}

.c30{
    width: 30%;
}

.c40{
    width: 40%;
}

.c50{
    width: 50%;
}

.c100{
    width: 100%;
}

.announcement{
    height: 224px;
}

.bg-dark{
    background-color: #3b3b3b!important;
    opacity: 0.85;
}

.bg-dark-green{
    background-color: #11727f!important;
    opacity: 0.85;
}

.bg-dark-l-green{
    background-color: #40988c!important;
    opacity: 0.85;
}

.bg-dark-blue{
    background-color: #11727f!important;
    filter:brightness(140%);
}
.bg-dark-deep{
    background-color: #202f53!important;
    opacity: 0.85;
}
.bg-dark-gray{
    background-color: #343a40!important;
    opacity: 0.85;
}

.name{
    font-size: 13px;
    margin: 1px;
    padding: 1px;
    color: #90e1f3;
}

.handle{
    font-size: 12px;
    color: white;
    position: relative;
    bottom: 8px;
}

.card{
    margin: 5px;
    padding-top: 2px;
}

.people{
    height: 123px;
}

.clock{
    height: 123px;
}

.upcoming{
    height: 379px;
}

.title{
    color: #eae659;
    padding-top: 5px;
}

.yellow{
    color: #eae659;
}

.music{
    height: 150px;
}

.music-title{
    font-size: 12px;
}

.gossip{
    height: 123px;
}

.scrum-board{
    height: 300px
}

.git{
    height: 165px;
}

.time{
    font-size: 35px;
    font-weight: 100;
    margin-top: 65px;
}

.divider{
    border-bottom: 0.04em solid #696969;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* Colors */

  .white{
      color: white;
  }

  /* .card:hover{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
} */


@keyframes rotate {
    from {
        transform: rotateY(0deg);
        
    }
    to {
        transform: rotateY(90deg);
        /* transform: rotateY(0deg); */
    }
}
